.header {
    border: solid var(--border-color) 1px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navHeader {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.headerBtn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    background: none;
}

.headerBtn.userBtn {
    border: solid 3px;
}

.headerBtn.notificationBtn{
    position: relative;
}

.headerBtn.notificationBtn::after {
    content: '';
    width: 10px;
    height: 10px;
    bottom: 4px;
    right: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.headerBtn i {
    font-size: 28px;
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    height: 560px;
}

.userIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 8px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.closeMenuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: solid red 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease-in-out 0.1s;
}

.closeMenuBtn i {
    color: red;
}

.closeMenuBtn:hover {
    background-color: #FFCCCC;
}

.username {
    font-size: 32px;
}

.menuOptions {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    width: 80%;
    text-align: center;
}

.menuOptions li {
    display: flex;
    align-items: center;
    font-size: 26px;
    gap: 12px;
    border-bottom: solid 1px var(--border-color);
}

.menuOptions li button {
    width: 100%;
    height: 100%;
    padding-block: 14px;
    display: flex;
    gap: 10px;
    color: var(--text-default-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    background-color: #FFFFFF;
}

.menuOptions li i {
    color: var(--primary-color);
}

.menuOptions button:hover {
    background-color: var(--background-color);
}

.menuOptions .logoutOption i {
    color: var(--text-error-color);
}