.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
}
.select {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  height: 48px;
  padding: 10px;
  font-size: 18px;
}
.nameRelatorio {
  margin-left: 24px;        /* alinha com o início do gráfico */
  margin-bottom: 16px;      /* espaço entre o título e o gráfico */
  font-size: 1.6rem;
  font-weight: bold;
}
