.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex: 1;
  background-color: var(--background-color);
}

.noteSection {
  flex: 1;
}

.patientInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: 20px;
}

.noteField {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 200px;
  width: 700px;
  font-size: 20px;
}

.noteField .noteArea {
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  resize: none;
  padding: 10px;
  font-size: 20px;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(205, 205, 205);
  border-left: solid 2px rgb(140, 140, 140);
}

.buttonSection button {
  display: flex;
  align-items: center;
  width: 320px;
  height: 80px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-light-color);
  padding-inline: 10px;
  text-align: center;
}

.buttonSection button i {
  font-size: 32px;
}

.buttonSection button p {
  flex: 1;
}

.openFileBtn {
  background-color: var(--primary-color);
}
.openFileBtn:hover {
  background-color: var(--secondary-color);
}

.approveBtn {
  background-color: rgb(0, 126, 8);
}
.approveBtn:hover {
  background-color: rgb(32, 194, 43);
}

.disapproveBtn {
  background-color: rgb(129, 0, 0);
}
.disapproveBtn:hover {
  background-color: rgb(205, 1, 1);
}

.scheduleBtn {
  background-color: var(--primary-color);
}
.scheduleBtn:hover {
  background-color: var(--secondary-color);
}

.buttonSection .topBtns {
  display: flex;
}

.buttonSection .bottomBtns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dialogOverlay {
  display: flex;
  justify-content: center;
  position: absolute;
  min-width: 100%;
  height: 100%;
  pointer-events: none;
}

.dialogBox {
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 40px;

  height: fit-content;
  width: 500px;

  background-color: rgb(232, 232, 232);
  overflow: hidden;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.216) 2px 2px 10px;
  pointer-events: all;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  background-color: var(--primary-color);
  padding: 10px;
}

.dialogHeader p {
  font-size: 20px;
  color: var(--text-light-color);
  font-weight: bold;
}

.dialogCloseBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background: rgb(255, 255, 255);
  border: solid red 4px;
  color: red;

  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in-out 0.1s;
}

.dialogCloseBtn:hover {
  background: rgb(255, 183, 183);
}

.dialogBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  overflow-y: auto;
  max-height: calc(400px - 50px);
}

.dialogField {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.dialogInput {
  height: 40px;
  width: 100%;
  border: solid var(--border-color) 1px;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
}

.showPasswordBtn {
  position: absolute;
  right: 10px;
  top: 40px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--border-color);
}

.dialogFooter {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.dialogFooter button {
  height: 60px;
  width: 200px;
  background-color: var(--primary-color);
  color: var(--text-light-color);
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.dialogFooter .dialogCancelBtn {
  background-color: rgb(129, 0, 0);
}

.dialogCancelBtn:hover {
  background-color: rgb(205, 1, 1);
}
.dialogConfirmBtn:hover {
  background-color: var(--secondary-color);
}
