.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
}
