.main {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.buttonCollection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-block: 40px;
}

.mainButton {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-light-color);
    width: 440px;
    height: 120px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    transition: all 0.28s ease;
    position: relative;
    overflow: hidden;
}

.mainButton i {
    margin-left: 36px;
    margin-right: 36px;
    font-size: 48px;
}

.mainButton::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.28s ease;
    z-index: 1;
}

.mainButton:hover::before {
    transform: scaleY(1);
}

.mainButton > * {
    position: relative;
    z-index: 2;
    transition: color 0.28s ease;
}

.mainButton:hover {
    color: var(--primary-color);
}

.mainButton:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    transform: translateY(4px);
}
