.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
}

.scrollSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
  background-color: #cbcbcb;
  border-radius: 6px;
}

.searchSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70px;
}

.searchInput {
  width: 100%;
  height: 60px;
  font-size: 18px;
  padding: 10px;
  border: solid 1px var(--border-color);
  border-radius: 8px;
}

.searchAttributes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 60px;
  width: 100%;
}

.emptySpace {
  display: flex;
  width: 330px;
}

.searchAttributes .attrList {
  display: flex;
  height: 70%;
  flex: 1;
}

.searchAttributes .attr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 18px;
  color: #696969;
  border-right: solid 2px var(--border-color);
  flex: 1;
  padding: 0 10px;
}

.searchAttributes .attrList .filterBtn {
  background: none;
  cursor: pointer;
}
.searchAttributes .attrList .filterBtn i {
  font-size: 14px;
  color: #696969;
}

.filterBtn {
  background: none;
  cursor: pointer;
  border: none;
}

.filterIcon {
  font-size: 14px;
  color: #696969;
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}

.filterIconOpen {
  transform: rotate(90deg);
}


.filterMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
  z-index: 999;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  margin: 5px;
  cursor: pointer;
}

.clearFilterBtn {
  border-top: solid 1px var(--border-color);
  width: 100%;
  height: 100%;
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

.clearFilterBtn:hover {
  background-color: rgb(138, 138, 138);
  color: white;
}

