.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.imageContent,
.formContent {
  width: 100%;
}

.imageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
