.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.userRegistrationContainer {
  padding: 20px;
  width: 1200px;
  height: 100%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.input {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  height: 3rem;
  padding: 20px;
  font-size: 18px;
}

.input::placeholder {
  text-transform: none;
}

.nameField {
  width: 400px;
}

.cpfField {
  flex-wrap: wrap;
}

.emailField {
  width: 400px;
}

.roleField {
  flex: 0 0 200px;
  min-width: 100px;
}

.select {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  height: 48px;
  padding: 10px;
  font-size: 18px;
}

.userSpecRow {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.usernameField,
.specialtyField {
  display: flex;
  flex-direction: column;
}

.specialtyField {
    width: 100%;
}

.usernameInput {
  width: 400px;
}

.submitButtonContainer {
  flex-basis: 100%;
}

.submitButton {
  width: 14rem;
  height: 5rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 22px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color ease-in-out 0.2s;
}

.submitButton:hover {
  background-color: var(--secondary-color);
}

.submitButton:active {
  background-color: var(--text-default-color);
}

.uppercase {
  text-transform: uppercase;
}

.existingAddressesContainer,
.addressesContainer {
  flex-basis: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.existingAddressesGroup,
.addressesGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 24px; /* pode ajustar */
  align-items: stretch;
}

.existingAddressCard {
  flex: 1 1 320px;  /* cresce, encolhe, base 320px */
  max-width: 520px; /* opcional: evita ficar gigante */
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: #f3f3f3;
}


.addressBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  padding: 12px;
}


.documentInput{
  border-radius: 8px;
  width: 100%;
  height: 3rem;
  padding: 10px;
  font-size: 18px;
}

.documentField label {
  margin-bottom: 8px;
  font-weight: 500;
}




