.scrollList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  padding: 10px;
  background-color: #cbcbcb;
  border-radius: 4px;
  border: solid var(--border-color) 1px;
}

.listSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  gap: 10px;
  min-height: 0;
}

.listItem {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  width: 100%;
  min-height: 50px;
  box-shadow: 2px 2px 5px rgb(136, 136, 136);
  flex-shrink: 0;
}

.itemInfo {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.itemInfo p {
  font-size: 18px;
  width: 100%;
}

.itemBtns {
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.itemBtns button {
  width: 50px;
  cursor: pointer;
}

.itemBtns button:hover {
  background-color: #bfbfbf;
}

.listItem .itemBtns i {
  color: var(--primary-color);
  font-size: 28px;
}