.popupContainer {
  border: 1px solid black;
  border-radius: 8px;

  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  height: 400px;
  width: 500px;

  background-color: rgb(232, 232, 232);
  overflow: hidden;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.216) 2px 2px 10px;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  background-color: var(--primary-color);
  padding: 10px;
}

.popupHeader p {
  font-size: 20px;
  color: var(--text-light-color);
  font-weight: bold;
}

.popupCloseBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background: rgb(255, 255, 255);
  border: solid red 4px;
  color: red;

  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: all ease-in-out 0.1s;
}

.popupCloseBtn:hover {
  background: rgb(255, 183, 183);
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  overflow-y: auto;
  max-height: calc(400px - 50px);
}

.userInfo p {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.errorText {
  color: var(--text-error-color);
  font-weight: 600;
}
