.container {
    display: flex;
    flex-direction: column;
    min-height : 100vh
}

.header {
    border: solid var(--border-color) 1px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.header-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    background: none;
}

.header-btn.user-btn {
    border: solid 3px;
}

.header-btn.notification-btn{
    position: relative;
}

.header-btn.notification-btn::after {
    content: '';
    width: 10px;
    height: 10px;
    bottom: 4px;
    right: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.header-btn i {
    font-size: 28px;
}

main {
    display: flex;
    flex: 1;
}

.image-content, .form-content {
    width: 100%;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 100px;
    padding-inline: 20px;
    color: var(--text-light-color);
}

.footer .footer-info{
    display: flex;
    align-items: center;
}

.footer .footer-info img {
    margin-right: 20px;
}

.footer .footer-info p:nth-child(2) {
    margin-right: 80px;
} 

.footer .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.footer .footer-links a{
    color: var(--text-light-color);
    font-weight: 600;
}