.main {
    background-color: var(--background-color);
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    height: 560px;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 8px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.close-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: solid red 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease-in-out 0.1s;
}

.close-menu-btn i {
    color: red;
}

.close-menu-btn:hover {
    background-color: #FFCCCC;
}

.username {
    font-size: 32px;
}

.menu-options {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    width: 80%;
    text-align: center;
}

.menu-options li {
    display: flex;
    align-items: center;
    padding-block: 14px;
    font-size: 26px;
    gap: 12px;
    border-bottom: solid var(--border-color) 2px;
}

.menu-options li a {
    display: flex;
    gap: 10px;
    color: var(--text-default-color);
    text-decoration: none;
}

.menu-options li i {
    color: var(--primary-color);
}

.menu-options li:hover {
    background-color: var(--background-color);
    cursor: pointer;
}

.menu-options .logout-option i {
    color: var(--text-error-color);
}