.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.button-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-block: 40px;
}

.main-button {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-light-color);
    width: 440px;
    height: 120px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    transition: all 0.28s ease;
    position: relative;
    overflow: hidden;
}

.main-button i {
    margin-left: 36px;
    margin-right: 36px;
    font-size: 48px;
}

.main-button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.28s ease;
    z-index: 1;
}

.main-button:hover::before {
    transform: scaleY(1);
}

.main-button > * {
    position: relative;
    z-index: 2;
    transition: color 0.28s ease;
}

.main-button:hover {
    color: var(--primary-color);
}

.main-button:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    transform: translateY(4px);
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    height: 560px;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 8px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.close-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: solid red 4px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease-in-out 0.1s;
}

.close-menu-btn i {
    color: red;
}

.close-menu-btn:hover {
    background-color: #FFCCCC;
}

.username {
    font-size: 32px;
}

.menu-options {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    width: 80%;
    text-align: center;
}

.menu-options li {
    display: flex;
    align-items: center;
    font-size: 26px;
    gap: 12px;
    border-bottom: solid var(--border-color) 2px;
}

.menu-options li a {
    width: 100%;
    height: 100%;
    padding-block: 14px;
    display: flex;
    gap: 10px;
    color: var(--text-default-color);
    text-decoration: none;
}

.menu-options li i {
    color: var(--primary-color);
}

.menu-options li:hover {
    background-color: var(--background-color);
    cursor: pointer;
}

.menu-options .logout-option i {
    color: var(--text-error-color);
}


.breadcumb {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

.breadcumb a {
    color: var(--primary-color);
    text-decoration: none;
}