.main-nocentered-container {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--background-color);
}

.user-registration-container {
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    height: 100%;
    background-color: var(--form-background-color);
}

.user-registration-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.input {
    border: solid 1px var(--border-color);
    border-radius: 8px;
    width: 100%;
    height: 3rem;
    padding: 20px;
    font-size: 18px;
}

.input::placeholder {
    text-transform: none;
}

.name-field {
    width: 400px;
}

.cpf-field {
    flex-wrap: wrap;
}

.email-field {
    width: 400px;
}

.role-field {
    flex: 1;
}

.role-field select {
    border: solid 1px var(--border-color);
    border-radius: 8px;
    width: 100%;
    height: 48px;
    padding: 10px;
    font-size: 18px;
}


.username-field {
    flex-basis: 100%;
}

.username-field input {
    width: 400px;
}

.submit-button-container {
    flex-basis: 100%;
}

.submit-button {
    width: 14rem;
    height: 5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 22px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}