:root {
    --border-color: #A9A9A9;
    --text-default-color: #1E1E1E;
    --text-light-color: #F5F5F5;
    --text-error-color: #FF0000;
    --primary-color: #2C257F;
    --secondary-color: #29A1D8;
    --background-color: #EFEFEF;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.breadcumb {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

.breadcumb a {
    color: var(--primary-color);
    text-decoration: none;
}